.Logo{
  height: 100px;
}
.cabecalho{
  background-color: #A44A3F;
}

.menu-link{
  color: #E6AF2E;
  text-decoration: none;
}
.favoritos{
  margin-top: 40%;
}
.btn-add-carrinho{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-Top: 1px solid black;
  width: 100%;
}
.card-home{
  margin-top: 20%;
  border: none;

}
