.Logo{
  height: 100px;
}
.cabecalho{
  background-color: #A44A3F;
  display: flex;
  
  align-items: center;
}
.container{
  gap: 400px;
}
.links{
  display: flex;
  gap: 50px;
}
.menu a {
  color: #E6AF2E;
  text-decoration: none;
}
